*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
ul{
    display: flex;
    gap: 20px;
}
:root{
    --main-color :#4CAF50 ;
}

.nav{
    display: flex;
    gap: 50px;
   
}

header{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    padding: 20px 0px;
    /* margin-left: -90px; */
    width: 100%;
    /* background-color: aliceblue; */
    position: fixed;
    z-index: 200;
     border-bottom-left-radius: 30px;
     transition-duration: 1s;
}
.header-scrolled{
    background-color: #1a1a1a;
}
ul{
    display: flex;
    gap: 20px;
    align-items: center;
}
li a{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    transition: 0.5s;
    position: relative;
    font-weight: 900;
    position: relative;
}  
header .nav ul li{
    position: relative;
    float: left;
}

header .nav ul li ul{
    position: absolute;
    left: 0;
    margin-top: 20px;
    width: 100px;
    background: #fff;
    display: none;
   line-height: 35px;
}
header .nav ul li ul li{
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.1);
   
}
header .nav ul li ul li a{
    color: black;
}
header .nav ul li ul li a:hover{
    color: var(--main-color);
}
header .nav ul li ul li ul{
    left: 200px;
    top: 0;
}
header .nav ul li:hover > ul{
    display: initial;
}


.logo{
    color: var(--main-color);
    font-family: 'Josefin Sans', sans-serif;
}
.mobile-nav-bar-toggle{
    display: none;
}
/* .nav{
    display: none;
} */
.cartandbtn{
    display: flex;
    align-items: center;
    gap: 20px;
}
.cartandbtns{
    display: flex;
    align-items: center;
    gap: 20px;
}

@media (max-width: 930px) {
    header{
        justify-content: left;
        gap: 100px;
        padding-left: 20px;
        /* position: relative; */
        background: none;

    }
    .nav{
        display: block;
        position: fixed;
        flex-direction: column;
        background-color: #1a1a1a;
        /* background: hsl(0 0% 100%/ 0.2); */
        backdrop-filter: blur(1rem);
        inset: 0 0 0 min(50%, 594px) ;
       text-align: center;
       padding-top: 100px;
       border-bottom-left-radius: 50px;
       z-index: 1000;
       transform: rotate(0.3deg);
       transform: translateX(100%);
       transition: 0.5s;
    }
    .nav[data-visible= "true"]{
        transition: 1s;
        transform: translateX(0%);
      
    }
    .mobile-nav-bar-toggle[aria-expanded="true"]{
        background: url(../img/icons/delete_50px.svg);
        background-repeat: no-repeat;
        position: fixed;
    }
    ul{
        flex-direction: column;
    }
    .cartandbtn {
    justify-content: center;
    margin-top: 50px;
        }
    .mobile-nav-bar-toggle{
        display: block;
        width: 35px;
        width: 1rem;
        height: 1.5rem;
        aspect-ratio: 1;
        background: url(../img/icons/ham.png);
        /* background: url(..////////img/icons/delete_50px.svg); */
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        background-color: transparent;
        border: 0;
        top: 1rem;
        right: 2rem;
        z-index: 9999;
        transition: 0.3s;
    }
    .cartandbtns{
        display: none;
    }
}

.explore-btn{
    padding: 15px 45px;
    background-color: var(--main-color);
    border: none;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    transition: 0.3s;
    cursor: pointer;
}
.explore-btn:hover{
    box-shadow: 7px 8px 1px 0px #337235;
}
@media (max-width: 500px) {
    .nav{
        display: block;
        position: fixed;
        flex-direction: column;
        inset: 0 0 0 min(40%, 200px) !important;
       text-align: center;
       border-bottom-left-radius: 20px;
    }
}
@media (max-width: 390px) {
    .nav{
        position: fixed;
        flex-direction: column;
        inset: 0 0 0 min(20%, 200px) !important;
       text-align: center;
    }
}




.product{
    width: 100%;
    height: 95vh;
    background: linear-gradient(rgba(150, 148, 148, 0.445),black), url(../img/allproduct/landimg10ne.jpg);
    background-attachment: fixed;
    border-bottom-left-radius: 150px;
    padding-block-start: 100px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.product-land-content h1{
    color: white;
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
}
.product-land-content p{
    margin-top: 10px;
    color: rgb(156, 156, 156);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
}
.navigate a{
    color: rgb(156, 156, 156);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
}
.navigate a:hover{
    color: var(--main-color);
}
.navigate{
    margin-top: 20px;
}
.arrowleft{
    width: 10px;
    transform: rotate(-90deg);
}
.ticks{
    display: flex;
    justify-content: space-around;
    width: 90%;
}
.tick{
    display: flex;
    gap: 10px;
    align-items: center;
}
.tick p{
    color: rgb(156, 156, 156);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
}

.flex-box{
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2px;
    padding-bottom: 50px;
}
.img-background1{
    width: 300px;
    height: 400px;
    background-size: cover;
    background-color: rgb(43, 43, 43);
    position: relative;
   
}
.over-lay{
    margin: 20px 15px;
    width: 90%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.548);
    position: absolute;
    top: 0;
    left: 0;
    line-height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transform: scale(.9);
}
.over-lay h1{
    color: white;
    font-size: 15px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
}
.img-background1:hover .over-lay{
    opacity: 1;
    transition: 0.6s;
    transform: scale(1);
}
.white{
    background-color: rgb(230, 230, 230);
}
.orange {
    background-color: #c7885f;
}
.peach{
    background-color: #d8ab94;
}
.brown{
    background-color: #908078;
}
.whine{
    background-color: #894b3c;
    background-color: #084730;
}
.yellow{
    background-color: #f3be37;
}
.light-purple{
    background-color: #042f56c7;
}
.blue{
    background-color: #0e185f;
    background-color: #181d4a;
}
.dark-brown{
    background-color: #3f3330;
}
.purple{
    background-color: #2a1828;
}
.dark-blue{
    background-color: #1f2932;
}





footer{
    width: 100%;
    min-height: 50vh;
    background-color: #1a1a1a;
    margin-top: 0px;
  }
  .footer-flex{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: flex-end;
    height: 40vh;
    margin-bottom: 40px;
  }
.footer-line{
    width: 90%;
    margin-top: 10px;
    margin-inline: 50px;
    border: none;
    border-top: 1px solid #3c3c3c;
}
.policies{
    text-align: center;
    margin-top: 80px;
}
  footer .social{
      margin-top: 150px;
      color: white;
  }
  .copyright{
    color: white;
    font-family: 'Josefin Sans', sans-serif;
  }

  footer .social .title{
      margin-top: -50px;
      margin-bottom: 20px;
  }

  footer a{
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
  }

  footer a:hover{
      color: var(--main-color);
      transition: .4s all;
      
  }
  .checkBox{
    display: flex; 
  }
  .checkbox-title{
    color: white;
    font-family: 'Josefin Sans', sans-serif;
  }
  footer ion-icon{
      margin: 0 20px;
      font-size: 20px;
  }

  footer .links{
      display: flex;
      flex-direction: column;
      margin-top: 90px;
  }

  footer .links a{
      margin: 5px 0;
  }

  footer .feed-letter{
      width: 250px;
    margin-top: 110px;
  }
  .join{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .jointext{
    color: white;
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
  }
  hr{
    width: 70px;
     background-color: main;
    margin: 5px;
  }

  @media screen and (max-width: 375px){
      .footer-flex{
          height: fit-content;
          flex-direction: column;
      }
      .container .slide-container .slide .user{
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
      footer .feed-letter {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        margin-top: 110px;
    }
    .description{
        padding: 20px 30px;
    }
  }
  @media screen and (max-width: 600px){
    .footer-flex{
          height: fit-content;
          flex-direction: column;
            padding-bottom: 30px;
            align-items: center;
      }

      footer .feed-letter {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        margin-top: 110px;
    }
        footer .links {
            display: flex;
            flex-direction: column;
            margin-top: 30px;
        }
        .footer-line{
            width: 90%;
            margin-top: 80px;
            margin-inline: 20px;
            border: none;
            border-top: 1px solid #3c3c3c;
        }
}   